body{
	display:flex;
	flex-direction:column;
	min-height: 107vh; /* USAR EL 100% DEL VIEWPORT EN ALTURA*/

}
main{
	width:100%;
	flex: 1 ;  /* RELLENAR EL CONTENIDO CON FLEX:1 */
}
.links  a {
		color: #636b6f;
		padding: 0 25px;
		font-size: 12px;
		font-weight: 600;
		letter-spacing: .1rem;
		text-decoration: none;
		text-transform: uppercase;
}
.links li {
	padding: 10px 10px;
	list-style-type: none;

}
.links ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	}
.links {
	width: 100%;
	display: flex;
	align-self: flex-end;
}
/*-------------------------*/
/* FOOTER
/*-------------------------*/
footer {
	width:100%;
	height:100px;
}
.footer-nav {
  background-color: #3f3f6a;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;}

  .footer-nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .footer-nav li {
    padding: 10px 10px;
    list-style-type: none;
  }
  .footer-nav li a, .footer-nav li {
    color: #fff;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 5px;
  }

.nav-pills{
      line-height: 35px;
}
.navbar{
  border-radius: 0px;
}
.line {
	display: inline-block;
}
