.letters {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}
.nav-pills{
      line-height: 35px;
}
.navbar{
  border-radius: 0px;
}
/*-------------------------*/
/* FOOTER
/*-------------------------*/

.footer-nav {
  background-color: #3f3f6a;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;}

  .footer-nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .footer-nav li {
    padding: 10px 10px;
    list-style-type: none;
  }
  .footer-nav li a, .footer-nav li {
    color: #fff;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 5px;
  }
